
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial',sans-serif;
  font-size: 16px;
  background-color: #FEF0E4;
}

.AppTitle{
  display: flex;
  align-content: center;
  padding: 15px 25px;
  position: relative;
  top: 20px;
}

.CaptureBotton{
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 16px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}



.cambutton {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  padding:10px 30px;
  outline: none;
  background-color: #FF5A5F;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.cambutton:hover{
  background-color: #DE4083; 
}

.cambutton:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(3px);
}

.instructions{
  display: flex;
  align-content: center;

}

.submitform{
  display: flex;
  justify-content: flex-start;
}

.submitEmail{
  display: flex;
  align-content: flex-end;
  width: 80%;
  border-left: 1px solid #FAFAFA;
  font-size: 1.2em;
}

.liveCam{
  display: flex;
  flex-direction: row;
  align-content:  flex-start;
  justify-content: flex-start;
}


.mainApp{
  display: flex;
}
